@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');

@import "tailwindcss";

* {
  font-family: 'Poppins', sans-serif;
}


.logo {
  font-family: 'Protest Revolution', sans-serif;
}

.transitioning {
  transition: all 0.5s ease-in-out;
}

.nav-link {
  @apply hover:text-orange-400; 
}

.orange-btn {
  @apply uppercase font-medium border-2 border-orange-400 bg-orange-400 text-white px-6 py-2 rounded hover:border-teal-700 hover:bg-teal-700
}

.outline-btn {
  @apply uppercase font-medium border-2 border-orange-400 text-orange-400 px-6 py-2 rounded hover:border-teal-700 hover:text-teal-700
}



